#ul {
  text-align: left;
}
.ruleok {
  padding: 10px 30px;
  text-align: center;
  border-radius: 40px;
  cursor: pointer;
  margin-top: 10px;
}
.rulesbutton {
  border: 1px solid grey;
  text-align: center;
  align-content: center;
  color: white;
  background: url("/src/assets/rules-backgroundimg.jpg");
  background-size: cover;
  position: absolute;
  top: 190px;
  left: 50%;
  height: 300px;
  width: 40%;
  line-height: 1.8;
  transform: translate(-50%);
  z-index: 10;
  padding: 0 40px;
}
.rulesbutton::before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  height: 300px;
  width: 100%;
  z-index: -2;
}
