.winnerContainer {
  border: 1px solid grey;
  text-align: center;
  align-content: center;
  color: white;
  background: url("/src/assets/winner-bacgroundimg.jpg");
  background-size: cover;
  position: absolute;
  top: 170px;
  left: 50%;
  height: 330px;
  width: 50%;
  line-height: 1.8;
  transform: translate(-50%);
  z-index: 10;
}
.winnerContainer::before {
  content: "";
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  width: 100%;
  z-index: -1;
}
.winnerWonBtn {
  padding: 10px 30px;
  text-align: center;
  border-radius: 40px;
  cursor: pointer;
}
